@import '~bootstrap/scss/bootstrap';



$primary: #8c0900;
$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: #fff;

.box {
  align-items: center;
  background-color: $white;
  border: 3px solid $black;
  color: $primary;
  display: flex;
  font-size: 30px;
  height: 100px;
  justify-content: center;
}

.board {
  background-color: $primary;
  border: 2px solid $white;
  color: $font-color;
  padding-bottom: 10px;
}

button {
  background-color: $primary;
  color: $font-color;
}

.signed-in {
  visibility: hidden;
}

.game-start {
  visibility: hidden;
}
